@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c9cfd6;
  --foreground: #24292f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "LXGW WenKai Screen R",Calibri,Arial,sans-serif;
}
